.backProjects {
  background-color: #8ea4d2;
  margin-top: 80px;
  padding-bottom: 40px;
}

.titleProjects {
  font-family: "Lora";
  font-weight: 400;
  margin-left: 16%;
  padding: 2% 0;
  color: white;

  font-style: italic;
}

.artProjects {
  background-color: #3f548d;
  margin: 1% 18% 1% 16%;

  padding: 2%;
  border-radius: 14px;
  display: flex;
  gap: 2%;
  color: white;
  align-items: center;
}

iframe {
  border-radius: 10px;
}

.infoProjects {
  padding: 10px;
  gap: 10px;
  font-weight: 300;
}

.pInfo {
  margin-top: 9px;
  font-size: 14px;
  margin-bottom: 14px;
}
.aProjects {
  font-weight: 400;
  color: white;
  font-size: 18px;
}

.ulProjects {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.liProjects {
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: #d3dcee;
  padding: 7px 12px;
  border-radius: 6px;
  color: #6279b8;
  font-size: 10px;
  font-weight: 400;
}

.icon {
  font-size: 20px;
  margin-bottom: 0;
}

@media only screen and (max-width: 840px) {
  .backProjects {
    background-color: #8ea4d2;
    margin-top: 30px;
    padding-bottom: 0;
  }
  .titleProjects {
    margin-left: 4%;
  }
  .artProjects {
    display: flex;
    flex-wrap: wrap;
    margin: 1% 3% 1% 3%;
  }
  iframe {
    display: flex;
    text-align: center;
  }
}
